@import './font-face.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

:root {
  --color-primary: #47C6D9;
  --color-primary-black: #4C4E56;
  --color-secondary: #B0A2F9;
  --color-secondary-white: #FFF;
  --color-secondary-black: #000;
  --color-secondary-pink: #FF5483;
  --color-bright-yellow: #fff953;
  --color-light-pink: #F5CFD9;
  --color-light-purple: #DCBFE4;
}

html {
  scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: antialiased;
  font-family: "Avenir LT Pro", sans-serif;
  color: #4c4e56;
  color: var(--color-primary-black);
  font-size: 16px;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Avenir LT Pro", sans-serif;
  color: #4C4E56;
  /* IE does not support CSS variable, this is a the breakup value */
  color: var(--color-primary-black);
  font-weight: 800;
  font-size: 28px;
}

h2 {
  font-size: 18px;
}

h3,
h4,
h5 {
  font-weight: 400;
  font-size: 21px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 12px;
}

p,
a,
label,
select {
  color: #4C4E56;
  /* IE does not support CSS variable, this is a the breakup value */
  color: var(--color-primary-black);
}

button {
  cursor: pointer;
  font-family: "Avenir LT Pro", sans-serif;
}

.free-icon img,
p img,
li img {
  width: 50px;
}

.btn {
  background-color: #48C6D9;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 800;
  line-height: 18px;
  font-family: inherit;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 15px 34px;
  width: min-content;
  white-space: nowrap;
}

.fixedWidthPage {
  max-width: 1140px;
  width: 100%;
  display: block;
  margin: 0 auto;
  padding: 0 15px;
}

.bodyWrap {
  height: 100vh;
  overflow: hidden;
}

.pdpReviews .yotpo-bottomline.pull-left.star-clickable .text-m {
  margin-left: 0.5em;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  margin-top: 1px;
}

.pdpReviews  .yotpo-bottomline.pull-left.star-clickable .text-m {
  font-size: 13px;
}

.plpReviews .yotpo-bottomline.pull-left.star-clickable .text-m {
  margin-left: 0.5em;
  -webkit-font-smoothing: antialiased;
  font-size: 10px !important;
  color: #7C7C7C !important;
}

.plpReviews .yotpo-bottomline.pull-left.star-clickable .yotpo-stars .yotpo-icon {
  font-size: 15px !important;
}

.tikTokProductPage .swiper-button-prev,
.tikTokProductPage .swiper-button-next {
  color: rgba(0, 0, 0, 0.2) !important;
}

.tikTokProductPage .swiper-button-prev::after,
.tikTokProductPage .swiper-button-next::after {
  font-size: 21px !important;
}

@media (max-width: 550px) {

  .pdpReviews .yotpo-bottomline.pull-left.star-clickable .text-m {
    font-size: 10px !important;
    color: #979797 !important;
  }

  .pdpReviews .yotpo-bottomline.pull-left.star-clickable .yotpo-stars .yotpo-icon {
    font-size: 15px !important;
  }

}