#skinQuizLandingWrapper {
  // margin-top: 50px;
  position: relative;
  min-height: 655px;
  color: #4c4e56;
}

#skinQuizLandingWrapper #landingCover {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

.container h1,
.container p {
  font-family: inherit;
  margin: 2px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  max-width: 1040px;
  width: 100%;
  margin: auto;
}

#quizWrapper {
  display: none;
}

.statusBar {
  margin-top: 50px;
  width: 100%;
  border: 1px solid #eaeaea;
  background-color: #eaeaea;
  height: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.statusBar .status {
  background-color: #ff589b;
  height: 10px;
  width: 0%;
  transition: all 0.5s ease-out;
}

.backBtn::before {
  background-size: 6px 6px;
  content: '\3008';
  display: inline-block;
  margin-right: 4px;
  padding: 0;
}

.backBtn {
  border: none;
  background-color: #fff0;
  position: absolute;
  left: 10px;
  top: 75px;
  z-index: 1;
}

@media all and (max-width: 768px) {
  #skinQuizLandingWrapper #landingCover {
    display: none;
  }

  #skinQuizLandingWrapper #quizWrapper {
    display: flex;
  }

  #skinQuizLandingWrapper {
    min-height: 674px;
    margin-top: 0;
  }

  #skinQuizLandingWrapper .fixedWidthPage {
    padding: 0;
  }

  #skinQuizLandingWrapper #quizContainer {
    margin-top: 3em;
  }

  .backBtn {
    font-size: 11px;
    top: 81px;
    letter-spacing: 2px;
    color: inherit;
  }
}
