#pdpWrapper {
  background-color: #fff;
  margin-top: 0;
}

.galleryWrap {
  height: 400px;
  width: 100%;
}

.pdp_page__container {
  background-color: #fff;
  width: 100%;
  padding-top: 21px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pdpSection {
  background-color: #fff;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section__product_details {
  margin: 14px 0 0;
  max-width: 1140px;
}

.pdpContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.col_2 {
  padding: 0 1em;
}

.product_box_container {
  width: 100%;
  height: 100%;
  margin-bottom: 0em;
  display: block;
}

.giftcard_description__container {
  width: 100%;
  height: 100%;
  margin-top: 1em;
  margin-bottom: 4em;
  display: flex;
  justify-content: center;
}

.giftcard_description .desc_header {
  display: none;
}

.giftcard_description .questions {
  display: flex;
  justify-content: center;
  padding-top: 2em;
}

.giftcard_description .pdpContainer {
  max-width: 90%;
  border-top: 0.5px solid #ff5483;
}

.giftcard_description .questions .pdpContainer h2 {
  position: relative;
  margin-top: 2em;
  text-align: center;
  font-size: 18px;
  padding: 25px 5px;
  overflow: hidden;
  letter-spacing: 1px;
}

.giftcard_description .questions .pdpContainer .grid {
  display: flex;
  justify-content: center;
}

.giftcard_description .questions .pdpContainer .grid__item {
  box-sizing: border-box;
  float: left;
  min-height: 1px;
  vertical-align: top;
  width: 100%;
  font-weight: 200;
  font-size: 16px;
  line-height: 26px;
  color: #636363;
}

.giftcard_description .questions .pdpContainer .grid__item p:first-child {
  display: none;
}

.giftcard_description .questions .pdpContainer .grid__item p {
  margin-bottom: 1em;
}

.giftcard_description .questions .pdpContainer .question_list .grid__item {
  float: none;
  width: auto;
}

@media (min-width: 500px) {

  .pdp_page__container,
  .section__product_details {
    background-color: #f8f8f8;
  }
}

@media (min-width: 768px) {
  .section__product_details {
    margin: 95px 0 3em;
  }

  .pdpSection {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }

  .pdpContainer {
    width: 50%;
  }

  .col_1 {
    margin-right: 3em;
    width: 55%;
  }

  .col_2 {
    width: 40%;
  }

  .product_box_container {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .giftcard_description .questions .pdpContainer .grid__item {
    padding-left: 15px;
    padding-right: 15px;
  }

  .giftcard_description .questions .pdpContainer .question_list .grid__item {
    column-count: 2;
    -webkit-column-count: 2;
    -moz-column-count: 2;
  }

  .giftcard_description .questions .pdpContainer .grid__item p {
    padding: 0 1em;
  }
}

@media (min-width: 1200px) {
  .giftcard_description .pdpContainer {
    max-width: 1100px;
  }
}