.stickyATC_mobile.stickyATC_wrapper {
  width: 100%;
  background-color: #fff;
  position: fixed;
  z-index: 99;
  left: 0;
  bottom: 0;
  -webkit-box-shadow: 0px -7px 30px -14px rgba(0, 0, 0, 0.21);
  box-shadow: 0px -7px 30px -14px rgba(0, 0, 0, 0.21);
  -webkit-transition: all 0.25s ease;
  -khtml-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.stickyATC_mobile .stickyATCContainer {
  max-width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 1em;
}

.stickyATC_mobile .product_title {
  font-size: 14px;
  font-weight: 800;
  text-transform: lowercase;
  padding: 0 0.5em 0 0.25em;
}

.stickyATC_mobile .product_price {
  display: flex;
}

.stickyATC_mobile .product_price span {
  font-size: 14px;
}

.stickyATC_mobile .component_container {
  width: 100%;
  min-width: 130px;
}

.stickyATC_show_mobile {
  display: block;
}

.stickyATC_show_desktop {
  display: none;
}

@media (min-width: 768px) {
  .stickyATC_desktop.stickyATC_wrapper {
    width: 100%;
    background-color: rgb(215, 240, 244);
    position: fixed;
    z-index: 99;
    bottom: -10em;
    left: 0;
    -webkit-transition: all 0.25s ease;
    -khtml-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -ms-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
  }

  .stickyATC_desktop .stickyATCContainer {
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em 0em;
  }

  .stickyATC_desktop .product_title,
  .stickyATC_desktop .product_price {
    padding: 0 1em 0 1em;
  }

  .stickyATC_desktop .product_title {
    font-weight: 800;
    text-transform: lowercase;
    border-right: 1px solid;
  }

  .stickyATC_desktop .component_container {
    max-width: 190px;
    min-width: 130px;
  }

  .stickyATC_desktop.stickyATC_show {
    bottom: 0em;
  }

  .stickyATC_show_mobile {
    display: none;
  }

  .stickyATC_show_desktop {
    display: block;
  }
}