.container {
  width: 100%;
  margin-top: 30px;
  position: absolute;
}

.areaOne, .areaTwo, .areaThree, .areaFour {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
}

.areaOne {
  margin-bottom: 20px;
}

.areaOne > div {
  width: 80%;
  height: 180px;
}

.areaTwo {
  margin-bottom: 20px;
}

.areaTwo > div {
  height: 20px;
  margin-bottom: 10px;
}

.areaTwo > div:nth-child(1) { width: 60%; }

.areaTwo > div:nth-child(2) { width: 80%; }

.areaTwo > div:nth-child(3) {
  width: 50%;
  margin-bottom: 0;
}

.areaThree { margin-bottom: 30px; }

.areaThree > div {
  width: 80%;
  height: 20px;
  margin-bottom: 5px;
}

.areaThree > div:last-child { margin-bottom: 0; }

.areaFour > div {
  width: 80%;
  height: 80px;
  margin-bottom: 30px;
}

.areaFour > div:last-child { margin-bottom: 0; }

@media (min-width: 769px) {
  .container {
    display: flex;
    flex-direction: row-reverse;
  }

  .sectionOne {
    width: 50%;
  }

  .sectionTwo {
    width: 50%;
    
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .areaOne > div {
    height: 600px;
    margin: 0 auto;
  }

  .areaTwo > div {
    height: 40px;
  }

  .areaThree > div {
    width: 80%;
    height: 30px;
  }
  
  .areaFour > div {
    height: 100px;
  }
}