.siteSwitcherContainer {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  height: 35px;
  padding-right: 5px;
  z-index: 1;
  color: #4C4E56;
  margin-top: 8px;
}

.optionSelected {
  width: 150px;
  height: 35px;
  background: #FFFFFF;
  border: 0.5px solid rgba(76, 78, 86, 0.4);
  box-sizing: border-box;
  border-radius: 2px;
  display: flex;
  align-items: center;
  padding: 8px;
  padding-top: 10px;
  font-size: 12px;
  justify-content: space-between;
  cursor: pointer;
  font-style: normal;
  font-weight: 800;
}

.optionsContainer {
  margin-top: 3px;
  border-radius: 4px;
  border: 0.5px solid rgb(199, 199, 199);
  overflow: hidden;
}

.optionCustomized img {
  width: 15px;
  height: 15px;
  margin-bottom: 0px !important;
}

.optionsContainer > div {
  background: #FFFFFF;
  display: flex;
  align-items: center;
  padding: 8px;
  padding-top: 10px;
  font-size: 12px;
  cursor: pointer;
}

.optionsContainer > div:hover {
  background: rgb(215, 240, 244);
}

.optionSelected .arrow {
  transform: scale(1.5, 0.6);
}

.flipArrow {
  transform: scale(1.5, -0.6) !important;
}

.optionCustomized {
  display: flex;
  gap: 5px;
  align-items: center;
}

.footerWrap {
  background-color: #fff;
}

.footerWrap .fixedWidthPage {
  display: flex;
  justify-content: space-between;
  max-width: 1140px;
  margin: 0 auto;
  padding: 23px 35px;
  flex-flow: column nowrap;
  margin-bottom: 20px;
}

.footerCol1 {
  margin: 25px auto;
  order: 1;
}

.footerCol1 img {
  margin-bottom: 20px;
}

.footerCol2 {
  flex: 1;
  color: var(--color-primary-black);
}

.footerCol2 a {
  color: var(--color-primary-black);
  text-decoration: none;
}

.footerCol2 div {
  border-color: var(--color-primary-black);
}

.footerCol2 div > span {
  color: var(--color-primary-black);
}

.footerRow2 {
  text-align: center;
  width: 100%;
  order: 2;
  margin-top: 20px;
}

.footerRow2 p {
  color: var(--color-primary-black);
}

.break {
  flex-basis: 100%;
  height: 0;
}

.footerCol2 ul {
  justify-content: space-between;
}

@media (min-width: 768px) {
  .footer__desktopNav {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-content: flex-start;
  }
  .footerWrap .fixedWidthPage {
    padding: 50px 150px;
    flex-direction: inherit;
    flex-wrap: wrap;
  }
  .footerCol2 ul li {
    padding-right: 5px;
  }
  .footerRow2 {
    margin-top: 70px;
  }
  .desktopNav_listItem2 {
    max-width: 50%;
    flex: 0 0 50%;
    margin: 0 0 1em 0;
  }
  .footerCol1 {
    /* margin: 50px 0 0 78px; */
    /* width: 220px;    */
    margin: auto;
    margin-right: 80px;
    order: inherit;
  }
  .footer__desktopSubNav2 {
    margin: 1em 0 0.5em;
  }
  .desktopSubNav_listItem2 {
    padding: 0.25em 0;
  }
  .switcherOnMobile {
    display: none;
  }
  .switcherOnDesktop {
    display: inherit;
  }
}
@media (min-width: 1024px) {
  .footerCol1 {
    /* margin: 50px 0 0 137px; */
    /* width: 220px; */
    /* float: left; */
    margin: 0 115px 0 0;
    order: inherit;
    z-index: 2;
  }
  .footerCol2 {
    /* margin: 50px 0px 0 100px; */
    /* width: 54%; */
    /* float: left; */
  }
  .footerWrap .fixedWidthPage {
    padding: 65px 0 65px;
    flex-wrap: wrap;
    flex-direction: inherit;
  }
  .footerRow2 {
    text-align: center;
    margin-top: 20px;
    display: block;
    clear: both;
    z-index: 1;
  }
}
@media all and (max-width: 768px) {
  .footerCol2 a {
    font-size: 14px;
    line-height: 25px;
    color: #4C4E56;
    text-transform: capitalize;
  }
  .siteSwitcherContainer {
    padding: 0px;
    margin-top: 0px;
  }
  .siteSwitcherContainer > div,
  .optionSelected {
    width: 100%;
  }
  .switcherOnMobile {
    display: inherit;
    z-index: 3;
  }
  .switcherOnDesktop {
    display: none;
  }
}

/*# sourceMappingURL=styles.css.map */
