/*
*  MY REWARDS SECTION STYLES ## BEGIN ##
*/
.carousel-container {
  overflow: hidden;
  position: relative;
  height: 100px;
  border-color: #4b5563;
  width: 100%;
  display: block;
}

.carousel-track {
  display: flex;
  position: absolute;
  left: 0;
  justify-content: center;
  align-items: center;
  height: 80px;
  gap: 16px;
  width: 200%;
  height: 100%;
  animation: slide 20s linear infinite;
}

.yotpo-container-headline {
  display: none;
}

@keyframes slide {
  0% {
    left: 0;
  }
  100% {
    left: -175%;
  }
}
.receipt__message {
  max-width: 80%;
  margin: 0 auto;
}

.autoDelivey__message {
  max-width: 80%;
  margin: 0 auto 1rem;
  text-align: center;
  font-weight: 800;
}

.autoDelivey__message > p {
  font-size: 12px;
  line-height: 21px;
  margin-bottom: 1.275rem;
}

.autoDelivey__message > h4 {
  color: #47c6d9;
  font-size: 14px;
  margin-bottom: 10px;
  font-weight: 800;
}

.autoDelivey__message .faq__divider {
  max-width: 917px;
  margin: 0 auto;
  height: 2px;
  background: linear-gradient(90deg, rgba(175, 191, 210, 0.1) 0%, rgba(158, 176, 197, 0.6) 50.38%, rgba(175, 191, 210, 0.1) 100%);
}

.myRewards__container :global(.yotpo-background) {
  background: linear-gradient(94.2deg, #ebf9fb 3.45%, #faf7ff 103.07%);
  padding: 65px 0 50px;
}

.myRewards__container :global(.yotpo-widget-my-rewards-widget .yotpo-logged-in-view) {
  background: inherit;
}

.myRewards__container :global(.yotpo-widget-my-rewards-widget .yotpo-logged-in-view .yotpo-headline:before) {
  display: none;
}

.myRewards__container > .faq__divider {
  max-width: 917px;
  margin: 0 auto;
  height: 2px;
  background: linear-gradient(90deg, rgba(175, 191, 210, 0.1) 0%, rgba(158, 176, 197, 0.6) 50.38%, rgba(175, 191, 210, 0.1) 100%);
}

.myRewards__container h1 {
  text-align: center;
  margin-bottom: 19px;
}

.myRewards__container > p {
  font-weight: 500;
  font-size: 14px;
  line-height: 27px;
  text-align: center;
}

.myRewards__container > p h3 {
  font-weight: 800;
  font-size: 24px;
  line-height: 38px;
  color: #47c6d9;
}

.myRewards__textLink {
  font-weight: 900;
  font-size: 14px;
  line-height: 45px;
  text-decoration-line: underline;
  cursor: pointer;
  display: block;
  text-align: center;
  margin: -75px 0 101px;
  z-index: 1;
  position: relative;
}

.myRewards__container .yotpo-background {
  background: linear-gradient(94.2deg, #ebf9fb 3.45%, #faf7ff 103.07%);
  padding: 65px 0 50px;
}
.myRewards__container .yotpo-widget-my-rewards-widget .yotpo-logged-in-view {
  background: inherit;
}
.myRewards__container .yotpo-widget-my-rewards-widget .yotpo-logged-in-view .yotpo-headline:before {
  display: none;
}
.myRewards__container yotpo-widget-my-rewards-widget .yotpo-logged-in-view {
  background: inherit;
}
.myRewards__container .yotpo-widget-my-rewards-widget .yotpo-logged-in-view .yotpo-headline:before {
  display: none;
}
.myRewards__container .yotpo-loyalty-popup-overlay {
  margin-top: 117px;
}
.myRewards__container .yotpo-widget-my-rewards-widget .yotpo-is-mobile .yotpo-grid {
  height: calc(90vh - 180px);
}

@media (min-width: 768px) {
  .autoDelivey__message {
    font-size: 16px;
    line-height: 21px;
    max-width: 559px;
  }
  .autoDelivey__message > h4 {
    font-size: 16px;
  }
  .autoDelivey__message .faq__divider {
    display: none;
  }
}
/*
*  MY REWARDS SECTION STYLES ## END ##
*/
/*
*  REDEEM SECTION STYLES ## BEGIN ##
*/
.redeemSectionContainer {
  text-align: center;
  margin-top: 4.5rem;
  padding-bottom: 3rem;
}

.redeemSectionContainer .faq__divider {
  max-width: 917px;
  margin: 0 auto;
  height: 2px;
  background: linear-gradient(90deg, rgba(175, 191, 210, 0.1) 0%, rgba(158, 176, 197, 0.6) 50.38%, rgba(175, 191, 210, 0.1) 100%);
}

.redeemSectionContainer > h1 {
  font-size: 28px;
  line-height: 32px;
}

.redeemSectionContainer > h3 {
  font-size: 24px;
  line-height: 38px;
  margin-top: 1rem;
  color: #47c6d9;
}

.redeemSectionContainer > p {
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  margin-top: 0.375rem;
  margin-bottom: 1.675rem;
  max-width: 90%;
  margin-inline: auto;
}

.redeemSectionContainer > p > span {
  font-size: 12px;
  display: block;
  margin-top: 0.725rem;
  font-style: italic;
  color: rgba(76, 78, 86, 0.6);
}

.redeemProductItem > span {
  color: rgba(76, 78, 86, 0.8);
  display: flex;
  justify-content: center;
  font-size: 12px;
  line-height: 38px;
  font-weight: 900;
}

.redeemProductsListContainer {
  display: grid;
  grid: 1fr/repeat(2, 1fr);
  row-gap: 25px;
}

@media (min-width: 768px) {
  .redeemProductsListContainer {
    grid: 1fr/repeat(4, 1fr);
    padding-inline: 3.4rem;
  }
  .redeemSectionContainer > h1 {
    font-weight: 800;
    font-size: 35px;
    line-height: 45px;
  }
  .redeemSectionContainer > h3 {
    font-weight: 800;
    font-size: 35px;
    line-height: 45px;
    margin-bottom: 1rem;
    margin-top: 2rem;
  }
  .redeemSectionContainer > p {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
  }
  .redeemSectionContainer > p > span {
    margin-top: 1rem;
  }
}
/*
*  REDEEM SECTION STYLES ## END ##
*/
/*
*  REWARDS FAQ SECTION STYLES ## BEGIN ##
*/
.faq__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 98px;
  margin-inline: 27px;
}

.faq__container dl,
.faq__divider {
  width: 100%;
  max-width: 925px;
}

.faq__title {
  font-family: Avenir;
  font-weight: 900;
  margin-bottom: 31px;
  font-size: 28px;
  line-height: 38px;
}

.faq__divider {
  width: 100%;
  height: 3px;
  background: rgba(76, 78, 86, 0.1);
}

.faq__questionButton {
  position: relative;
  font-family: Avenir;
  font-weight: 700;
  font-size: 18px;
  line-height: 120%;
  background: transparent;
  border: none;
  padding: 18px 0;
  width: 100%;
  text-align: left;
  display: flex;
  justify-content: space-between;
  color: #4c4e56;
}

.faq__questionCloseButton {
  font-weight: 400;
}

.faq__questionCloseButtonRotate {
  transform: rotate(45deg);
  transition: transform 0.26s ease;
}

.faq__answer {
  display: none;
}

.faq__answer p {
  margin: 1rem 1.5rem 2rem;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
}

.faq_showDescription {
  display: block;
}

@media (min-width: 768px) {
  .myRewards__container > p {
    font-size: 20px;
    max-width: 517px;
  }
  .myRewards__container > p h3 {
    font-weight: 800;
    font-size: 35px;
    line-height: 45px;
    margin-bottom: 35px;
  }
  .faq__container {
    padding: 79px 0 96px;
    background: rgba(248, 248, 248, 0.8);
    /* margin-inline: 117px; */
    border-radius: 3px;
  }
  .faq__container .faq__title {
    font-size: 50px;
    line-height: 45px;
    margin-bottom: 80px;
    text-transform: capitalize;
  }
}
/*
*  REWARDS FAQ SECTION STYLES ## END ##
*/

/*# sourceMappingURL=styles.css.map */
