.plpWrapper {}

.plpWrapper .horizontal_container {
  max-width: 375px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: auto;
}

.plpWrapper .horizontal_sub__container {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #d8d8d8;
  margin: 18px 20px 0;
}

.plpWrapper .horizontal_image__side {
  margin-right: 15px;
}

.plpWrapper .horizontal_details__side {
  display: flex;
  flex-direction: column;
  padding: 18px 0;
  min-width: 171px;
  align-items: flex-start;
}

.plpWrapper .horizontal_container .horizontal_imageContainer {
  width: 128.5px;
  height: 160px;
  margin-bottom: 5px;
  display: block;
  position: relative;
  text-decoration: none;
}

.plpWrapper .horizontal_container .horizontal_imageContainer .horizontal_productImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  margin: 0 auto;
  position: absolute;
  opacity: 1;
  transition: opacity 0.3s;
}

.plpWrapper .horizontal_container .horizontal_imageContainer .horizontal_dinamicImage {
  opacity: 0;
  transition: opacity 0.3s;
}

.plpWrapper .horizontal_container:hover .horizontal_dinamicImage {
  opacity: 1 !important;
}

.plpWrapper .horizontal_container:hover .horizontal_productImage {
  opacity: 0;
}

.plpWrapper .horizontal_container .horizontal_title {
  text-decoration: none;
  font-weight: 800;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: auto;
  color: var(--color-primary-black);
  transition: color 0.3s;
  text-transform: lowercase;
  text-align: left;
}

.plpWrapper .horizontal_container .horizontal_subTitle {
  font-weight: 200;
  font-size: 14px;
  line-height: 18px;
  margin-top: 3px;
  color: #636363;
}

.plpWrapper .horizontal_container .horizontal_title:hover p,
.plpWrapper .horizontal_title:hover {
  text-decoration: underline;
  color: var(--color-primary);
}

.plpWrapper .horizontal_container .horizontal_reviewRates {
  display: flex;
  margin: auto 0;
  align-items: center;
  justify-content: center;
}

.plpWrapper .horizontal_container .horizontal_reviewRates .horizontal_reviews {
  font-weight: 400;
  font-size: 14px;
  color: var(--color-primary-black);
  line-height: 14px;
  margin-left: 5px;
}

.plpWrapper .horizontal_container .horizontal_value {
  font-weight: 900;
  font-size: 14px;
  color: var(--color-primary-black);
  line-height: 18px;
  margin-bottom: auto 0;
}

.plpWrapper .value.promo {
  color: #ff338d;
  margin-left: 5px;
}

.plpWrapper .value.strikethrough {
  color: rgb(161, 161, 161);
  text-decoration: line-through;
}

.badge {
  display: flex;
  justify-content: center;
  margin-bottom: 0.5em;
}

.plpWrapper .horizontal_container .value {
  font-weight: bold;
}

.plpWrapper .compared_price {
  font-weight: 300;
  font-size: 14px;
  color: var(--color-primary-black);
  line-height: 18px;
  margin: 0 5px;
  text-align: center;
}

.plpWrapper .horizontal_container .compared_price {
  font-weight: 300;
  font-size: 14px;
  color: var(--color-primary-black);
  line-height: 18px;
  margin: 0 5px;
  text-align: left;
}

.plpWrapper .horizontal_container .value.promo {
  text-align: left;
}

.plpWrapper .compared_price span {
  letter-spacing: 0.5px;
}

.plpWrapper .horizontal_container .horizontal_productButton {
  width: 129px;
  height: 36px;

  color: var(--color-primary);
  background: var(--color-secondary-white);

  /* background: var(--color-primary);
    color: var(--color-secondary-white); */
  border: 2px solid var(--color-primary);
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-weight: 800;
  font-size: 14px;
  line-height: 18px;
  transition: background 0.3s, color 0.3s, border ease-in-out;
}

.plpWrapper .horizontal_container .horizontal_productButton:hover {
  /* color: var(--color-primary);
    background: var(--color-secondary-white); */

  background: var(--color-primary);
  color: var(--color-secondary-white);
}

.horizontal_addToCartContainer .add_to_cart {
  font-weight: 800;
  font-size: 14px;
  display: flex;
  text-transform: capitalize;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  line-height: 18px;
  margin-top: 8px;
  width: 129px;
  height: 36px;

  color: var(--color-primary);
  background: var(--color-secondary-white);
}

.horizontal_addToCartContainer .add_to_cart:hover {
  background: var(--color-primary);
  color: var(--color-secondary-white);
}

@media (max-width: 550px) {
  .plpWrapper :global(.container) {
    width: 100%;
    height: 367px;
  }

  .plpWrapper .container .imageContainer {
    width: 160px;
    height: 200px;
  }

  .plpWrapper .container .productButton {
    height: 35px;
    width: 115px;

    background: var(--color-primary);
    color: var(--color-secondary-white);
  }

  .plpWrapper .container .title {
    margin: 0 5px;
    text-align: center;
  }

  .plpWrapper .container .productButton:hover {
    color: var(--color-primary);
    background: var(--color-secondary-white);
  }

  .plpWrapper .value.promo {
    font-size: 13px;
    text-align: center;
  }

  .plpWrapper .horizontal_container .value.promo {
    text-align: left;
  }


  .plpWrapper .value.strikethrough {
    font-size: 13px;
  }

  .plpWrapper .add_to_cart {
    height: 35px;
    width: 115px;
    text-transform: capitalize;

    background: var(--color-primary);
    color: var(--color-secondary-white);
  }

  .plpWrapper .add_to_cart:hover {
    color: var(--color-primary);
    background: var(--color-secondary-white);
  }

  .plpWrapper .horizontal_container .horizontal_productButton {
    width: 129px;
    height: 28px;
    background: var(--color-primary);
    color: var(--color-secondary-white);

    transition: background 0.3s, color 0.3s, border ease-in-out;
  }

  .plpWrapper .horizontal_container .horizontal_productButton:hover {
    color: var(--color-primary);
    background: var(--color-secondary-white);
  }

  .plpWrapper .horizontal_container .add_to_cart {
    width: 129px;
    height: 28px;
  }

}