.uploadReceipt_mainContainer {
  margin-top: 93px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.uploadReceipt_header {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.uploadReceipt_header > p {
  font-weight: 900;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 1px;
  color: rgba(71, 198, 217, 0.8);
}

.uploadReceipt_header > h1 {
  font-weight: 900;
  font-size: 40px;
  color: #4c4e56;
}

.uploadReceipt_header > div {
  font-size: 20px;
  font-weight: 400;
  color: rgba(76, 78, 86, 0.8);
  width: 450px;
}

.uploadReceipt_header > div > span {
  font-weight: 800;
  color: #47c6d9;
}

.uploadReceipt_header > div > span > svg {
  zoom: 150%;
}

.uploadReceipt_divider {
  width: 85%;
  height: 2px;
  margin: 30px 0;
  background: linear-gradient(90deg, rgba(175, 191, 210, 0.1) 0%, rgba(158, 176, 197, 0.6) 50.38%, rgba(175, 191, 210, 0.1) 100%);
}

.uploadReceipt_slider {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  overflow-x: hidden;
  zoom: 100%;
}

.uploadReceipt_slider::-webkit-scrollbar {
  display: none;
}

.uploadReceipt_logosContainer {
  display: flex;
  align-items: center;
  gap: 54px;
  width: fit-content;
  padding: 0 27px;
}

.uploadReceipt_uploader {
  width: 100vw;
  margin-bottom: 50px;
  display: grid;
}

.uploadReceipt_mainContainer .yotpo-container-headline,
.uploadReceipt_mainContainer .yotpo-widget-campaign-widget-container {
  padding: 0 !important;
}
.uploadReceipt_mainContainer .yotpo-widget-campaign-widget {
  grid-area: 1/1;
}
.uploadReceipt_mainContainer .flexified-child.yotpo-outer-tile {
  width: 50% !important;
  margin: 0 auto !important;
}

.uploadReceipt_cta {
  width: 100%;
  padding: 47px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(94.2deg, #ebf9fb 3.45%, #faf7ff 103.07%);
  text-align: center;
}

.uploadReceipt_cta > p {
  font-weight: 900;
  font-size: 24px;
  color: #4c4e56;
}

.uploadReceipt_cta > button {
  font-family: "Avenir LT Pro", sans-serif;
  background: #48c6d9;
  border: 1px solid #48c6d9;
  border-radius: 3px;
  font-weight: 600;
  font-size: 18px;
  color: white;
  padding: 10px 130px;
  margin: 20px 0 12px 0;
}

.uploadReceipt_cta > a {
  font-weight: 400;
  font-size: 14px;
  color: rgba(76, 78, 86, 0.6);
  cursor: pointer;
}

@media (max-width: 768px) {
  .uploadReceipt_header > p {
    font-size: 12px;
  }
  .uploadReceipt_header > h1 {
    font-size: 28px;
  }
  .uploadReceipt_header > div {
    font-size: 14px;
    width: 320px;
  }
  .uploadReceipt_slider {
    zoom: 80%;
  }
  .vdivider {
    margin: 20px 0;
  }
  .uploadReceipt_cta {
    padding: 22px;
  }
  .uploadReceipt_cta > p {
    font-size: 16px;
  }
  .uploadReceipt_cta > button {
    font-size: 14px;
    padding: 8px 95px;
    margin: 12px 0;
  }
  .uploadReceipt_header > div > span > svg {
    zoom: 100%;
  }
}
@media (max-width: 1223px) {
  .uploadReceipt_slider {
    align-items: flex-start;
    justify-content: normal;
  }
  .uploadReceipt_mainContainer :global(.flexified-child.yotpo-outer-tile) {
    width: 100% !important;
  }
}

/*# sourceMappingURL=styles.css.map */
