.errorText {
  color: #FF5483;
}

.templateCustomersLogin {
  min-height: calc(100vh - 220px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.templateCustomersLogin .formBox {
  width: 300px;
}

.templateCustomersLogin .formBox h1 {
  text-align: center;
  margin-bottom: 25px;
}

.templateCustomersLogin .formBox h2 {
  font-size: 24px;
  margin-bottom: 25px;
}

.templateCustomersLogin .formBox p {
  margin-bottom: 10px;
  text-align: center;
}

.templateCustomersLogin form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.templateCustomersLogin form input {
  width: 100%;
  margin-bottom: 10px;
}

.templateCustomersLogin form div,
.templateCustomersLogin form button {
  width: 100%;
}

.templateCustomersLogin form button {
  margin-top: 10px;
}

.templateCustomersLogin form button:first-child {
  margin-bottom: 35px;
}

.register {
  text-align: right;
}

.formBox a {
  text-decoration: none;
  font-weight: 100;
}

.underButton {
  display: block;
}

.inputText {
  line-height: 24px;
  letter-spacing: 0.15px;
  flex-grow: 2;
  height: 45px;
  padding: 14px 15px;
  background-color: #FFFFFF;
  border: 1px solid #4C4E56;
  font: 400 16px avenir;
}

.inputText:focus {
  border: 1px solid #48C6D9;
  caret-color: #48C6D9;
}

.inputText:invalid {
  border: 1px solid #FF5483;
  caret-color: #FF5483;
}

.inputText:disabled {
  border: 1px solid rgba(76, 78, 86, 0.4);
}

@media all and (min-width: 768px) {
  .templateCustomersLogin .formBox {
    width: 400px;
  }

  .templateCustomersLogin .formBox h2 {
    font-size: 30px;
  }
}

@media all and (max-height: 840px) {
  .templateCustomersLogin {
    min-height: auto;
    margin: 100px 0;
    margin-top: 9em;
  }
}