.homepageShopByConcern {
  display: flex;
  flex-direction: row;
  height: 50vh;
  width: 100vw;
}

.concernBlock {
  width: 25%;
  height: 100%;
  text-decoration: none;
  transition: all .25s ease-out;
}

.concernBlock:nth-child(2),
.concernBlock:nth-child(4) {
  background-color: rgb(195, 247, 250);
}

.concernBlock div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50vh;
  background-size: cover;
  background-position: center;
}

.concernBlock:hover {
  width: 48vw;
  transition: all .25s ease-out;
}

.concernBlock:hover h2,
.concernBlock:hover p {
  opacity: 1;
}

.concernBlock div h2 {
  font-size: 26px;
  line-height: 38.5px;
  font-weight: 900;
  color: #FFFFFF;
  opacity: .7;
}

.concernBlock div p {
  font-size: 18px;
  line-height: 38.5px;
  font-weight: 900;
  text-decoration: underline;
  color: #FFFFFF;
  opacity: .7;
}

@media all and (max-width: 768px) {
  .homepageShopByConcern {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: fit-content;
    width: 100vw;
  }

  .concernBlock {
    width: 50vw;
    height: 65vw;
  }

  .concernBlock div {
    width: 100%;
    height: 100%;
  }

  .concernBlock div h2 {
    font-size: 16px;
    line-height: 19.5px;
    letter-spacing: 1%;
    font-weight: 900;
  }

  .concernBlock div p {
    font-size: 12px;
    line-height: 19.5px;
    letter-spacing: 1%;
    font-weight: 900;
  }

  .concernBlock:hover {
    width: 50vw;
  }
}