.desktopNavItem {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.05em;
  text-transform: capitalize;
  margin: 0;
  padding: 0px 2.1em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.relativeNav {
  position: relative;
}

.desktopNavItem .navLink {
  color: #4C4E56;
  text-decoration: none;
}

.desktopNavItem .navLink:hover {
  color: #48C6D9;
}

.desktopHoverWrap {
  background-color: #fff;
  border: 1px solid #E5E5E5;
  border-top: none;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  left: 46px;
  padding: 25px 29px;
  position: absolute;
  top: 54px;
  width: 232px;
}

.desktopHoverItem {
  color: #4C4E56;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 12px;
  margin: 8px 0px;
  text-transform: capitalize;
  text-decoration: none;
  text-align: left;
}

.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity .3s linear;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s .1s, opacity .1s linear;
}

.emoji {
  height: 16px;
  margin: 0 3px;
  vertical-align: middle;
}

@media only screen and (max-width: 768px) {
  .desktopNavItem {
    display: none;
  }
}

@media only screen and (max-width: 1036px) {
  .desktopNavItem {
    font-size: 13px;
    margin: 0;
    padding: 0 13px;
  }

  .desktopHoverWrap {
    top: 47px;
  }

  .desktopNavItem .navLink:hover {
    color: #4C4E56;
  }

}


@media only screen and (min-width: 1037px) and (max-width: 1440px) {
  .desktopNavItem {
    padding: 0 2%;
    width: 12em;
  }
}